/* BK Colors*/
/* RED : #D62300 */
/* PUMPKIN : #FF8732 */
/* ANTIQUE WHITE : #F5EBDC */

/* ALT COLORS */
/* CAFE #502314 */
/* NARANJA #fa0 */

@font-face {
    font-family: 'FlameBold';
    src: url('../fonts/FlameBold.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FlameCondensed';
    src: url('../fonts/FlameCondensed.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FlameRegular';
    src: url('../fonts/FlameRegular.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FlameSans';
    src: url('../fonts/FlameSans.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}

body {
    font-family: 'FlameSans' !important;
    color: #502314 !important;
}

.content-wrapper {
    background-color: #F5EBDC !important;
}

.btn-primary {
    background-color: #d62300 !important;
    border-color: #d62300 !important;
    border-radius: 12px !important;
}

.btn-success {
    background-color: #fa0 !important;
    border-color: #fa0 !important;
    border-radius: 0.75rem !important;
    color: #502314 !important;
    text-transform: uppercase;
}

.btn-info {
    /* background-color: #fa0 !important; */
    /* border-color: #fa0 !important; */
    border-radius: 0.75rem !important;
    /* color: #502314 !important; */
    text-transform: uppercase;
}

.table {
    background-color: white !important;
}

/* Menu lateral */
aside {
    background-color: #502314 !important; 
}

a.nav-link {
    color: #f5ebdcb0 !important;
}

a.nav-link.active {
    background-color: #FF8732 !important;
    color: #502314 !important;
}

li.has-treeview > a.nav-link.active {
    background-color: #d62300 !important;
    color: #F5EBDC !important;
}

li.subitem.active > a.nav-link.active {
    background-color: #FF8732 !important;
    color: #502314 !important;
}

.brand-text, a.d-block {
    color: #F5EBDC !important;
}

.nav-header {
    color: #F5EBDC !important;
}

.nav-item.menu-open {
    background-color: #502314 !important;
    color: #F5EBDC !important;
}

nav.main-header {
    background-color: #d62300 !important;
}